<footer>
  <nav>
    <ul>
      <li><%= link_to t('.home'), root_path %></li>
      <li><%= link_to t('.about'), about_path %></li>
      <li><%= link_to t('.unsubscribe'), unsubscribe_path %></li>
      <% if Rails.env.development? %>
      <li><%= english_locale_link(I18n.locale) %></li>
      <li><%= japanese_locale_link(I18n.locale) %></li>
      <% end %>
    </ul>
  </nav>
</footer>
