<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/stylesheets/<%= fingerprinted_asset('application') %>.css" />
    <script src="/javascripts/<%= fingerprinted_asset('application') %>.js"></script>
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
    <meta property="og:description" content="<%= full_description(yield(:description)) %>" />
    <meta property="og:image" content="https://raptmap.com/images/heart-marker-pano.png" />
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="main">
      <%= render 'layouts/header' %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
